<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="techu-front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input type="text" value="{{nombre::input}}"/>
    <input type="range" min="18" max="100" value="{{edad::input}}"/>
    <h2>Hello [[nombre]]!</h2>
    <h3>Mi edad es [[edad]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechuFrontApp extends Polymer.Element {
      static get is() { return 'techu-front-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'propiedad 1 del componente: techu-front-app'
          },
          nombre: {
            type: String,
            value: 'Dilver'
          },
          edad: {
            type: Number,
            value: 30
          }
        };
      }
    }

    window.customElements.define(TechuFrontApp.is, TechuFrontApp);
  </script>
</dom-module>
