<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Datos de usuario</h1>
    <h2>Nombre: [[firstname]]!</h2>
    <h3>Id: [[userid]]</h3>

    <h1>Sus cuentas</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">accountId</th>
        <th scope="col">IBAN</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td>{{item.accountId}}</td>
          <td>{{item.iban}}</td>
          <td>{{item.balance}}</td>
        </tr>
      </template>
    </tbody>
  </table>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/collections/users/{{userid}}"
      handle-as="json"
      on-response="handleResponse">
    </iron-ajax>

    <iron-ajax
      auto
      id="getUserAccounts"
      url="http://localhost:3000/apitechu/v2/collections/users/{{userid}}/accounts"
      handle-as="json"
      on-response="handleResponseCollection">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          userid: {
            type: String,
            value:"0"
          },
          firstname: {
            type: String,
            value:""
          },
          accounts: {
            type: Array
          }
        };
      }

      handleResponse(data){
        console.log(data.detail.response);
        this.userid = data.detail.response[0].userID;
        this.firstname = data.detail.response[0].first_name;
      }
      handleResponseCollection(data){
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
