<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="other-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h2>Otro Hello [[prop1]]!</h2>
    <h3>Otro Mi edad es [[edad]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OtherComponent extends Polymer.Element {
      static get is() { return 'other-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'propiedad 1 del componente: techu-front-app'
          },
          nombre: {
            type: String,
            value: 'xxx'
          },
          edad: {
            type: Number,
            value: 20
          }
        };
      }
    }

    window.customElements.define(OtherComponent.is, OtherComponent);
  </script>
</dom-module>
